
body {
    font-family: 'Playfair Display', serif;
    background-color: rgb(243, 241, 248);
}


#books {
    margin-top: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
}



#books ul{
    display: flex;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
}

#books li {
  border: 1px solid black;
  width: 17rem;
  height: 30rem;
  margin-top: 10px;
  text-align: center;
  margin-top: 3rem;
  background-color: white;
  }

#books li img {
    width: 13rem;
    height: 20rem;
}

#language {
    font-size: .9rem;
    margin-top:0;
    padding-top:0;
}
#author {
    font-size: 1rem;
    padding-bottom: 0;
    margin-bottom: .5rem;
}
